.quadChildrenContainer{
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    padding-bottom: 2rem;
}
.logTable {
    width: 100%;
    margin: auto;
}
table {
    width: 100%;
    margin: auto;
}
tbody{
    text-align: center;
    font-size: .8rem;
}
.firstRow th{
    font-size: .8rem;
    border: none;
}
table tr:nth-child(even){
    background-color: white;
    color: black;
}
th {
    border: .001rem solid white;
}
.nameRow {
    height: 4rem;
    width: 4rem;
}
.deleteRow {
    background-color: red;
    color: white;
    cursor: pointer;
}
