.TITLE {
    border-bottom: .2rem double white;
}
.workoutButtons {
    display: inline-block;
    background-color: black;
    width: 100%;
}
.workoutButtons button{
    width: 50%;
    background-color: black;
    color: white;
    border: .4rem double white;
}
.workoutButtons button:focus{
    background-color: yellow;
    color: black;
}