.titleGoesHere {
    max-width: 100%;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border: .4em double white;
}
.titleGoesHere div {
    display: inline-block;
    width: 50%;
}
.titleGoesHere button {
    background-color: white;
    font-family: cursive;
    width: 100%;
    border: .4em double black;
    text-shadow: .1em .1em black;
}