.loginContainer {
    max-width: 80%;
    width: 100%;
    margin: auto;
}
.loginContainer div {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: .4rem;
}
.loginButtonContainer button{
    margin: auto;
    margin-top: 1rem;
    height: 4rem;
    font-size: 2rem;
    font-family: cursive;
    border: .2rem double black;
    border-radius: 15%;
    text-shadow: .1rem .1rem black;
}
.newUserCreateAccount a{
    color: white;
}